:root {
    --main-color : deeppink;
    --main-color-hover : mediumvioletred;
    --dark-color : black;
    --green-color : lightgreen;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Slab', Georgia, serif;
    color: dimgray;
    text-align: center;
    background-color: lightpink;
}

/* JUDUL */
hgroup {
    padding-top: 6%;
    padding-bottom: 150px;
}

hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5 {
    margin: 0;
    text-shadow: 2px 2px 3px silver;
}

h1, h3, h4 {
    font-size: 5.5rem;
}

h2 {
    font-size: 2.6rem;
}

h5 {
    font-size: 3rem;
}
/* END OF JUDUL */

/* TOMBOL */
button {
    padding: 0 0.3em;
    margin: 0 0.3em;
    background-color: var(--main-color);
    color: white;
    border: none;
    font-family: inherit;
    font-size: 1.5em;
    box-shadow: 4px 4px 0 hotpink;
}

button:hover {
    background-color: var(--main-color-hover);
    transition: all 0.3s;
}
/* END OF TOMBOL */

/* BAGIAN BAWAH */
.sharing {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    background-color: var(--dark-color);
    color: white;
}

.sharing .text {
    font-family: Arial, sans-serif;
}

.sharing .more, .sharing .links {
    margin-top: 0.5em;
    font-size: 1.3rem;
    color: var(--green-color);
}

.sharing a {
    color: var(--green-color);
    text-decoration: none;
}

.sharing a:hover {
    text-decoration: underline;
}
/* END OF BAGIAN BAWAH */

/* BREAKPOINT TABLET */
@media screen and (max-width: 768px) {
    h1, h3, h4 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    h5 {
        font-size: 2.4rem;
    }
}

/* BREAKPOINT HANDPHONE */
@media screen and (max-width: 481px) {
    h1, h3, h4 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h5 {
        font-size: 1.8rem;
    }
    .sharing {
        position: static;
    }
}
/* END OF BREAKPOINT */